<div class="navbar-wrapper" [ngClass]="{ 'navbar-wrapper--opened': showNav }">
    <div role="button" class="button-nav" (click)="closeNavbar()"><img src="https://imgur.com/lpN3jsf.png" alt="menu-icon" class="button-icon">
    </div>
    <nav class="navbar-content">
        <ul class="navbar-content__list">
            <li class="navbar-content__list__item" *ngFor="let element of nav.item; let intedx=index">
                <a routerLink="{{element.link}}" (click)="closeNavbar()">{{element.name}}</a>
            </li>
        </ul>
    </nav>
</div>

