<div *ngIf="animalFound" class="detail-container" >
    <div class="detail_card-container">
        <h1 class="card_item">{{animalFound.id}}</h1>
        <h1 class="card_item-title">{{animalFound.name}}</h1>
        <p class="card_item">{{animalFound.isCarnivore?'come carne':'no come carne'}}</p>
        <h4 class="card_item-title">familia:{{animalFound.family.name}}</h4>
        <p class="card_item">{{animalFound.family.livingInGroup?'vive en manada':'no vive en manada'}}</p>
        <h4 class="card_item-title">{{animalFound.family.habitat.name}}</h4>
        <p class="card_item">{{animalFound.family.habitat.location}}</p>
        <p class="card_item">{{animalFound.family.habitat.mode}}</p>
    </div>
</div>
