.habitat-container{
    background-image:linear-gradient(rgba(21, 77, 16, 0.8),rgba(0, 0, 0, 0.80)),url("https://cdn.wallpapersafari.com/28/51/uONoDk.jpg");
    background-position:center;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;

    .habitat-list-container{
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
        justify-content:center;
        list-style: none;
        padding-top: 150px;
        
        align-items: center;
        .habitat-list_card{
            padding: 20px;
            margin: 30px 0;
            min-width: 300px;
            max-width:400px;
            border: 2px solid white;
            h1{
                color:white;
            }
            p{
                color:white;
            }
        
        }
    }
}
