.habitat-list{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    .habitat_item-container{
        .habitat-list_item{
            border: 2px solid black;
            margin: 10px;
        }
        
    }
}