.animal-container{

    background-image:linear-gradient(rgba(21, 77, 16, 0.8),rgba(0, 0, 0, 0.80)),url("https://static01.nyt.com/images/2019/07/26/world/26india-tiger/merlin_143415126_a711fe0c-92f6-41fd-b92c-ff33c0a7bec8-superJumbo.jpg");
    min-height:100vh;
    background-position:center;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;

    .animal_list-container{
        list-style: none;
        .animal-list_item{
            padding: 20px;
            font-size:40px;
            h2{
                color: aliceblue;
                cursor:pointer;
                &:hover{
                    transform: scale(1.1);
                    transition: 0.2s ease-in-out;
                }
            }
        }
    }   
}